body
{
    padding: 10px;
    box-sizing: border-box;
    font-family: cursive;
    background-color: rgb(11, 10, 10);
}
.wrapper
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
}
.round1
{
    position: fixed;
    top: 5%;
    left: 7%;
    width: 14em;
    height: 14em;
    border-radius: 50%;
    box-shadow: 0 0 40px #e23c63;
    background: linear-gradient(-26deg, #e23c63, #f46641);
}
.round2
{
    position: fixed;
    top: 62%;
    right: 5%;
    width: 16em;
    height: 16em;
    border-radius: 50%;
    box-shadow: 0 0 40px #3d73e9;
    background: linear-gradient(-180deg, #3d73e9, #41dff4);
}
.box
{
    position: relative;
    flex-basis: 200px;
    height: 580px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    background: #ffffff31;
    padding: 1.5em;
    border-radius: 25px;
    border : 2px solid #0000002a;
    backdrop-filter: blur(20px);
}
.prf img
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}
.box h2
{
    font-size: 25px;
    color: #000000b0;
    text-transform: uppercase;
    margin: 15px 0;
}
.box p
{
    color: #ffffff90;
    font-size: 15px;
}
.designation
{
    color: #000;
}
footer b
{
    color: rgb(47, 255, 75);
}
footer p i
{
    font-size: 12px;
}
/*Responsive*/
/* @media (max-width: 2570px)
{
    .round1{
        left: 18%;
    }
    .round2{
        right: 15%;
    }
    .wrapper{
        max-width: 1500px;
    }
    .box{
        margin-top: 50px;
        width: 300px;
        height: 500px;
    }
} */
@media (max-width: 1200px)
{
    .wrapper{
        max-width: 1100px;
    }
    .box{
        margin-top: 50px;
        width: 150px;
        height: 750px;
    }
}
@media (max-width: 992px)
{
    .wrapper{
        max-width: 940px;
        flex-direction: column;
    }
    .box{
        margin-top: 50px;
        width: 200px;
        height: 700px;
    }
}
@media (max-width: 768px)
{
    .wrapper{
        max-width: 700px;
        flex-direction: column;
    }
    .box{
        margin-bottom: 30px;
        width: 400px;
        height: 400px;
    }
}
@media (max-width: 576px)
{
    .wrapper{
        max-width: 30px;
        flex-direction: column;
    }
    .box{
        margin-bottom: 30px;
        width: 300px;
        height: 450px;
    }
}
@media (max-width: 320px)
{
    .wrapper{
        max-width: 30px;
        flex-direction: column;
    }
    .box{
        margin-bottom: 30px;
        width: 250px;
        height: 300px;
    }
    .round2{
        top: 55%;
    }
    .box h2
    {
        font-size: 15px;
    }
    .box p
    {
        font-size: 10px;
    }
    .box i
    {
        font-size: 15px;
    }
}